<!DOCTYPE html>
<html class="js background-fixed">

@*Estilos *@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCosultora</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @*Menu de navegacion *@
    <header class="header-site my-transition navbar-scroll">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                @*Logo *@
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    @*<img data-src="">*@
                    <h1 class="subtitle-2 white-text" style="margin: 0px;">M&T</h1>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link my-transition px-lg-3 px-md-0 px-0 " title="PROYECTOS">INICIO</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Conocenos" class="nav-link my-transition px-lg-3 px-md-0 px-0 " title="INSIGHTS">CONOCENOS</a></li>
                        <li class="nav-item"><a href=# class="nav-link my-transition px-lg-3 px-md-0 px-0 " title="INSIGHTS">SERVICIOS</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Proyecto" asp-action="Index" class="nav-link my-transition px-lg-3 px-md-0 px-0 " title="PROYECTOS">PROYECTOS</a></li>
                        <li class="nav-item"><a href=# class="nav-link my-transition px-lg-3 px-md-0 px-0 " title="CAREERS">ARTICULOS</a></li>

                        @*Boton buscar *@
                        @*<li class="nav-item searchit">
                                <img alt="Search" style="display: block;" data-src="https://www.belatrixsf.com/wp-content/themes/Belatrix/images/search-white-icon.png" class="searchicon lazyloaded" src="https://www.belatrixsf.com/wp-content/themes/Belatrix/images/search-white-icon.png">
                                <noscript><img src="https://www.belatrixsf.com/wp-content/themes/Belatrix/images/search-white-icon.png" class="searchicon" alt="Search" style="display: block;"></noscript>
                                <div class="searchbox px-0" style="display: none;" id="ItemSearch">
                                    <form method="get" id="floatingsearchform" class="search-form text-left" action="https://www.belatrixsf.com/">
                                        <input name="s" id="s" placeholder="Search..." class="sb-search-input">
                                        <input type="hidden" name="task" value="search">
                                        <input type="submit" value="" style="display: none;">
                                    </form>
                                </div>
                            </li>*@
                        <li class="nav-item"><a href=# class="nav-link my-transition contact-link my-transition px-lg-3 px-md-0 px-0 " title="CONTACT US">CONTACT US</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>


    @*Contenido*@
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*Pie de pagina *@

    <footer class="footer-site module-section footer-newhome mt-0">
        <div class="copyright-container py-3">
            <div class="container row">
                <div class="col-12 col-lg-8">
                    <div class="logo-box">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            @*<img data-src="">*@
                            <h1 class="subtitle-2 white-text" style="margin: 0px;">M&T</h1>
                        </a>
                    </div>
                    <div class="legal-box">
                        <span class="reserved">Copyright ©2019 M&T CONSULTORES. Todos los derechos reservados </span>
                        <span class="policies">
                            <a href="/about-us/policies/">Policies</a>
                        </span>
                    </div>
                </div>
                @*<div class="col-12 col-lg-4">
                        <div class="p-2 social">
                            <a href="https://www.youtube.com/user/BelatrixSF" target="_blank" class="yt"></a>
                            <a href="https://www.instagram.com/belatrix.software/" target="_blank" class="ins"></a>
                            <a href="https://www.linkedin.com/company/belatrix-software/" target="_blank" class="in"></a>
                            <a href="http://twitter.com/belatrixsf" target="_blank" class="tw"></a>
                            <a href="https://www.facebook.com/BelatrixSoftware" target="_blank" class="fb"></a>
                        </div>
                    </div>*@
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
