
@{
    ViewData["Title"] = "Conocenos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid p-0 section-banner" style="background-image: url(https://www.belatrixsf.com/wp-content/uploads/2018/07/banner-insights-big.jpg);">
    <div class="container section-banner-content-container">
        <div class="section-banner-content">
            <div class="page-title">
                <div class="page-text" style="padding-left: 0">
                    <h1 class="subtitle-2 white-text"> Conocenos</h1>
                    <div class="line-decoration"></div>
                    <p class="p-type1 white-text">Texto aqui</p>
                </div>
            </div>
            <div class="my-clearfix"></div>
        </div>
    </div>
</section>

<section class="container module-section">
    <h1 class="text-center main-title col-md-8 col-sm-12 mx-auto">¿Por que nosotros?</h1>
    <div class="line-decoration mx-auto"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 col-sm-12 lead text-center p-hightligted">
            <p>Somos una empresa dedicada al servicio de consultoría en formulación y ejecución de proyectos de inversión pública o privada, elaboración de planes de negocios, perfiles y expedientes técnicos de infraestructura, productivos, sociales, prevención de riesgos de desastres, Seguridad y Salud en el trabajo y otros, así como brindar servicios de capacitación, asesoría, supervisión, auditoría y otros que requiera de acuerdo a la necesidad de nuestros clientes, cumpliendo con los estándares de calidad y normatividad vigente; además contamos con profesionales especialistas con gran experiencia en la materia. </p>
        </div>
    </div>
    
</section>

<section class="success gray-section pb-5">
    <div class="container">
        <div class="row p-1">
            <h3 class="subtitle text-center mx-auto mt-5">Nosotros</h3>
            <div class="ws-carousel-wrapper">
                <div id="IndustriesCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner overflow-visible row mx-auto position-relative">
                        <div class="semicolon-left"></div>
                        <div class="semicolon-right"></div>
                        <div class="col-lg-11 col-10 mx-auto carousel-wrapper">

                            <div class="carousel-item">
                                <div class="container item-content">
                                    <div class="comment-box text-center">
                                        <h4 class="highlight-3">Mision</h4>
                                        <p class="p-type1 mb-3">Satisfacer las necesidades de nuestros clientes, brindando servicios de consultoría, asesoría, supervisión, auditoría, seguridad laboral y gestión de riesgos ante desastres adaptados a las necesidades y realidades específicas de los mismos.</p>
                                        <!-- 									 	<a class="orange-link" href=#>LEER MAS</a> -->
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item active">
                                <div class="container item-content">
                                    <div class="comment-box text-center">
                                        <h4 class="highlight-3">Vision</h4>
                                        <p class="p-type1 mb-3">Ser la organización de referencia en cuanto a la prestación de servicios de excelencia en consultoría, asesoría, auditoría y gestión en todo lo relativo a la Seguridad, Salud Ocupacional y afines.</p>
                                        <!-- 									 	<a class="orange-link" href=#>LEER MAS</a> -->
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="carousel-control-prev" href="#IndustriesCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                        <a class="carousel-control-next" href="#IndustriesCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#IndustriesCarousel" data-slide-to="0" class="my-transition"></li>
                        <li data-target="#IndustriesCarousel" data-slide-to="1" class="my-transition"></li>
                        <li data-target="#IndustriesCarousel" data-slide-to="2" class="my-transition active"></li>
                        <li data-target="#IndustriesCarousel" data-slide-to="3" class="my-transition"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
</section>